.App {
  text-align: center;
}

.main-cont {
  width: 370px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 20px;
}

.separator {
  border-top: 1px solid gray;
  width: 90%;
  margin: 10px auto;
}
